/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-service-columns-block {
	max-width: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	background-color: #4c1717;
	width: 90vw;

	.services-columns {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;

		.service {
			width: calc(50% - 30px);
			box-sizing: border-box;
			padding: 24px 0 20px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 2px solid rgba(245, 244, 224, 0.2);
			transition: all 0.6s ease;

			i {
				font-size: 28px;
				color: rgba(245, 244, 244, 0.2);
				margin-bottom: 0;
				transition: all 0.6s ease;
			}

			&:hover {
				border-bottom: 2px solid #dad589;

				svg {
					opacity: 1;
				}
				path {
					fill: #dad589;
				}
			}
		}
		.service:nth-of-type(odd) {
			margin-right: 30px;
		}
		.service:nth-of-type(even) {
			margin-left: 30px;
		}
		h3 {
			font-size: 28px;
			color: #dad589;
			margin-bottom: 0;
			text-transform: capitalize;
		}
		svg {
			width: 48px;
			opacity: 0.2;
			transition: all 0.6s ease;
		}
	}
	@media screen and (max-width: 1024px) {
		.services-columns {
			flex-direction: column;
		}
		.services-columns .service {
			width: 100%;
		}
		.services-columns .service:nth-of-type(odd) {
			margin-right: 0;
		}
		.services-columns .service:nth-of-type(even) {
			margin-left: 0;
		}
	}
}
